* {
    margin: 0px;
    padding: 0px;
    color: white;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url('../img/background.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    cursor: pointer;
    font-family: 'fargo';
}

main {
    width: 100%;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    width: 80%;
}

th {
    width: 12%;
    height: 10px;
    font-family: 'fargo';
}

td {
    width: 12%;
    height: 10px;
}

tr:first-child {
    background-color: rgba(137, 43, 226, 0.753);
}

p, input, select {
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.356);
    text-align: center;
}

input {
    border: none;
    cursor: pointer;
}

.message-container {
    /* position: absolute;
    top: 0;
    right: 0; */
    width: 100%;
    height: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: 'fargo';
    src: url('../font/fargo.otf');
}