* {
    margin: 0px;
    padding: 0px;
    color: white;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'fargo';
}

body {
    background-color: #262632;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 100%;
    height: calc(100% - 10%);
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#form-co {
    height: 70%;
}

.container-input {
    width: 50%;
    height: 8%;
    border-radius: 25px;
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(253, 232, 132);
    background: linear-gradient(90deg, rgba(253, 232, 132, 1) 0%, rgba(148, 87, 18, 1) 50%, rgba(124, 64, 10, 1) 100%);
}

input {
    background-color: transparent;
    border: none;
}

.login-input {
    width: 97%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    background-color: #262632;
    border-radius: 25px;
    text-align: center;
}

.login-input::placeholder {
    color: white;
}

.login-submit {
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.534);
    border: none;
    border-radius: 25px;
    outline: none;
}

.login-submit:hover {
    background-color: rgba(128, 128, 128, 0.192);
}

@font-face {
    font-family: 'fargo';
    src: url('../font/fargo.otf');
}